body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#0f0f0f;
  color:white;
  text-align:center;
}

input, button {
  padding:10px;
  margin:5px;
  border:none;
  border-radius:6px;
  font-size:16px;
}

button {
  background:#00a884;
  color:white;
}

#messages {
  background:#1e1e1e;
  height:300px;
  overflow-y:auto;
  margin:10px;
  padding:10px;
  border-radius:6px;
}
