* { box-sizing:border-box; margin:0; padding:0; }

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  height:100vh;
}

/* LOGIN */
#loginBox {
  width:90%;
  max-width:380px;
  margin:40px auto;
  background:#111827;
  padding:30px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 0 25px #000;
}

#loginBox h2 {
  color:#22c55e;
  margin-bottom:15px;
}

input {
  width:95%;
  padding:16px;
  margin:8px 0;
  border-radius:10px;
  border:none;
  background:#1f2937;
  color:white;
  font-size:18px;
}

button {
  width:95%;
  padding:16px;
  margin-top:8px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:black;
  font-weight:bold;
  font-size:18px;
}

/* APP */
#appBox {
  display:flex;
  flex-direction:column;
  height:100vh;
}

/* lista chats horizontal mobile */
#chatList {
  display:flex;
  overflow-x:auto;
  background:#111827;
  padding:10px;
}

#chatList div {
  background:#1f2937;
  padding:14px;
  margin-right:8px;
  border-radius:10px;
  min-width:140px;
  text-align:center;
}

/* chat window */
#chatWindow {
  flex:1;
  display:flex;
  flex-direction:column;
  background: linear-gradient(180deg,#0f172a,#1e293b);
}

#chatTitle {
  background:#111827;
  padding:14px;
  text-align:center;
}

#messages {
  flex:1;
  padding:15px;
  overflow-y:auto;
}

#messages p {
  background:#1f2937;
  padding:12px;
  margin:6px;
  border-radius:12px;
  font-size:18px;
}

#messages b {
  color:#22c55e;
}

#messageInput {
  width:95%;
  margin:10px auto;
  display:block;
  font-size:18px;
}
